<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necesitamos tu ubicacion para mostrarte zonas alrededor de ti</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Necesitamos tu ubicacion para mostrarte zonas alrededor de ti</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
</dict>
</plist>
